// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    background-color: $light-brand;
    font-size: 1.09rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            font-weight: 600;
            margin: 0 auto;

            li {
                padding: 0.2rem 1rem;
                border-radius: 0.4rem;
                cursor: pointer;
                transition: 300ms background-color;

                &:hover {
                    margin-bottom: -1px;
                    background-color: $accent-color;
                    color: white;
                }
            }
        }
    }
}