// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    padding: 1rem 2rem;
    border: none;
    font-weight: 600;
    border-radius: 1.4rem;
    color: white;
    cursor: pointer;

    &-primary {
        background-color: $brand-color;
        text-transform: uppercase;

        &-lg {
            background-color: $brand-color;
            text-transform: uppercase;
            font-size: 1.8rem;
        }
    }

    &:hover {
        background-color: $dark-brand;
    }

}

